<h1>Editar Produto</h1>
<form action="/products/edit" method="post">
  <input type="hidden" name="id"value="{{product._id}}">
  <div class="form-control">
    <label for="name">Nome do produto:</label>
    <input type="text" name="name" value="{{product.name}}" placeholder="Digite o nome do produto" />
  </div>
  <div class="form-control">
    <label for="name">Imagem do produto:</label>
    <input type="text" name="image" value="{{product.image}}" placeholder="Insira a URL da imagem" />
  </div>
  <div class="form-control">
    <label for="price">Preço do produto:</label>
    <input type="text" name="price" value="{{product.price}}" placeholder="Digite o preço do produto" />
  </div>
  <div class="form-control">
    <label for="description">Descrição do produto:</label>
    <textarea name="description"  placeholder="Descrição do produto">{{product.description}}</textarea>
  </div>
  <input type="submit" value="Editar" class="btn" />
</form>